@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai+2&display=swap');
/* font-family: 'Baloo Bhai 2', cursive; */
html {
  box-sizing: border-box;
  font-size: 10px;
  background: #fff;
  /* #ffc600; */
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Baloo Bhai 2', cursive;
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: rgb(235, 235, 235);
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}

h1 {
  text-align: center;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 20px;
  color: #878d64;
}
.bt1{
  height: 80px;
  width: 80px;
  position: absolute;
  left: -80px;
  bottom: 0;
  -webkit-appearance: none;
  background-color: #878d64;
  font-size: 25px;
  color: #fff;
  border-radius: 20px 0 0 20px;
  outline: none;
}
.bt1:hover{
  background-color: #787e5b;
}
.bt2{
  display:none;
}
.score {
  color:rgb(255, 162, 0);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.game {
  position: relative;
  max-width: 660px;
  max-height: 640px;
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 20px;
  padding-top: 0;
  background-color: #fff;
  border-radius: 40px 40px 40px 0;
  transition: all 1s;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
  max-width: 180px;
  width:100%;
  /* min-width:180px; */
  margin: 0 10px;
}

.hole:after {
  display: block;
  background: url(hole2.png) bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  /* min-width:180px; */
  height:70px;
  position: absolute;
  z-index: 2;
  bottom:0;
}

.mole {
  background: url('moles.png') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 75%;
  width: 100%;
  height: 70%;
  transition:all 0.4s;
}

.hole.up .mole {
  top: 0;
}
@media screen and (max-width: 787px){
  .game{
    max-width:485px;
    width:90%;
    height: 80%;
    padding-top:20px;
    margin-bottom:70px;
  }
  h1{
    font-size:40px;
  }
  .bt1{display: none;}
  .bt2{
    display: block;
    position: absolute;
    width: 200px;
    height:50px;
    -webkit-appearance: none;
    background-color: #878d64;
    color: #fff;
    font-size: 20px;
    border-radius: 20px;
    outline: none;
    bottom:10px;
    right: 50%;
    transform: translateX(50%);
  }
}
@media screen and (max-width: 420px){
  body{
    height:100vh;
  }
  .game{
    width: 90vw;
    min-height: 450px;
    height: 100%;
    border-radius: 40px 40px 0 0;
  }
  h1{
    font-size: 30px;
  }
  .bt2{
    width: 90vw;
  }
}